block{
    width: 100%;
    height: 100%;
}

#calculatorBody{
    width: 200px;
    height: 300px;
    border: 8px #483D8B;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-style:ridge;
    background-color: #FFDB99;
    text-align:center;
}

#displaySection {
    width: 100%;
    height: 20%;
    background-color: #FFA500;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
}

#display {
    color: #787878;
    font-family: "Nova Square", cursive;
    font-size: 1.2em;
    padding: 2px 0px;
}

.buttonRow1 {
    width: 100%;
    height: 16%;
    background-color: #787878;
}

.buttonRow2 {
    width: 100%;
    height: 16%;
    background-color: #787878;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
}

#displaySection input {
    width: 80%;
    height: 60%;
    background-color: #FFF6E6;
    margin:4%;
    text-align: right;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.numberButton {
    width: 24.8%;
    height: 98%;
    background-color: #F0F0F0;
    float: left;
    margin: 0.1%;
    color: #787878;
    font-size: 1.0em;
    font-family:"Nova Square", cursive;
    box-shadow: 1.5px 1.5px 5px #888888;
    
}

.numberButton:hover {
    cursor:pointer ;
    color: #FFA500;
    filter: brightness (100%);
    box-shadow: 3px 3px 10px #FFF6E6
}

#close {
    float: right;
    margin: 0.1%;
    background-color: #FFF6E6;
    border: groove;
    width: 24.8%;
    height: 98%;
    font-size: 1.0em;
    font-family: "Ceviche One", cursive;
    color: #787878;
    padding: 0% 0.75%;  
}

#close:hover {
    background-color: #FFA500;
    color: white;
    border: ridge;
    box-shadow: 4px 4px 10px #FFF6E6;
}